#aliases
alias syn="synergys --config ~/.synergy.conf --name main --daemon"
alias ak='awk "{print \$2 }" | xargs kill -9'
alias killjava='ps aux | grep jar | grep -v "\(intellij\|Twist\|grep\)" | ak'
alias g='git'
alias p='ps wwaux | g'
alias b='./b'
alias suemacs="emacs /sudo::\`pwd\`/\$1"
alias cls='xset dpms force off'
alias standby='xset dpms force standby'
alias dh='dirs -v'
alias gemi='gem install --no-rdoc --no-ri'
alias swget='wget --auth-no-challenge --user=rramakri --ask-password'
alias em='emacsclient'
alias ew='em -n'
alias et='em -t'