#aliases
alias syn="synergys --config ~/.synergy.conf --name main --daemon"
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias ak='awk "{print \$2 }" | xargs kill -9'
alias killjava='ps aux | grep jar | grep -v "\(intellij\|Twist\|grep\)" | ak'
alias g='grep -i'
alias p='ps wwaux | g'
alias b='./b'
alias suemacs="emacs /sudo::\`pwd\`/\$1"
alias cls='xset dpms force off'
alias standby='xset dpms force standby'
alias dh='dirs -v'