[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   sr = svn rebase
   sd = svn dcommit
   rhh = reset --hard HEAD
   amend = commit --amend -aC HEAD
   show-files = show --name-only
   pull = pull --log
   
[color]
   ui = auto
[color "status"]
   added = yellow
   changed = green
   untracked = cyan
[format]
   pretty = format:"%h %C(yellow)%ci%Creset %Cgreen%an%Creset | %s"
[push]
   default = tracking
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[receive]
	denyCurrentBranch = false
[user]
	name = Raghunandan Ramakrishna Rao
	email = raghu@b-eagles.com
[branch]
	autosetuprebase = always
