[alias]
   co = checkout
   ci = commit
   st = status
   br = branch
   sr = svn rebase
   sd = svn dcommit
   rhh = reset --hard head
   pers = push -f ssh://tam@regressioncruise.tw.testttl.com//repos/rags-laptop HEAD:master
   personal = push -f ssh://tam@regressioncruise.tw.testttl.com//repos/rags-laptop HEAD:master
[color]
   ui = auto
[color "status"]
   added = yellow
   changed = green
   untracked = cyan
[format]
   pretty = format:"%h %C(yellow)%ci%Creset %Cgreen%an%Creset | %s"
[push]
   default = tracking
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
[receive]
	denyCurrentBranch = false
[user]
	name = Raghunandan Ramakrishna Rao
	email = rags@thoughtworks.com
[branch]
	autosetuprebase = always
