[alias]
   co = checkout
   ci = commit
   st = status 
   ss = status -s
   b = branch
   sr = svn rebase
   sd = svn dcommit
   r = reset
   rh  = reset --hard
   rhh = reset --hard HEAD
   rs  = reset --soft
   amend = !git au && git commit --amend -aC HEAD
   show-files = show --name-status
   pull = pull --log --rebase
   rpull = pull --log --rebase --recurse-submodules 
   cont = !git au && git rebase --continue
   l3 = log -3
   l5 = log -5
   l10 = log -10
   ls = log --name-status
   ls3 = log --name-status -3
   ls5 = log --name-status -5
   a   = add
   aa = add -A
   au = add -u
   dag = log --graph  --date-order
   lf = log --graph  --date-order --pretty=full
   clone = clone --recursive   
   d = diff
   sh = stash
[color]
   ui = auto
[color "status"]
   added = yellow
   changed = green
   untracked = cyan
[format]
   pretty = format:"%h %C(yellow)%ci%Creset %Cgreen%an%Creset | %s"
[push]
   default = tracking
[core]
	autocrlf = false
	excludesfile = ~/.gitignore
	pager = less -FMRiX
	editor = emacsclient -t
[receive]
	denyCurrentBranch = false
[user]
	name = Raghunandan Ramakrishna Rao
	email = raghunr@amazon.com
[branch]
	autosetuprebase = always
[amazon]
	append-cr-url = true
